<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<header th:insert="blocks/header :: header"></header>

<br>

<!--Modal window for add note-->
<div class="modal fade" tabindex="-1" role="dialog" id="addNoteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить заметку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" id="addNoteForm">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label>Заголовок</label>
                            <input maxlength="50" type="text" name="title" class="form-control">
                        </div>

                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label>Текст заметки</label>
                            <textarea maxlength="4294967295" class="form-control" name="content"></textarea>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-success form-control" onclick="ajaxSender('/addNote', '#addNoteForm')" type="submit">Добавить заметку</button>
            </div>
        </div>
    </div>
</div>
<!--End of modal-->

<div class="card">
    <div class="card-header">Заметки</div>
    <div class="card-body">
        <form class="form" id="searchNotes" onsubmit="ajaxSender('/requestNotes', '#searchNotes', '#tableOutput'); return false;">
            <div class="row">

                <div class="form-group col-sm-12 col-md-12 col-lg-12 mx-10">
                    <input type="search" class="search form-control" placeholder="Поиск" name="search">
                </div>


                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label>Начало</label>
                    <input id="dateStart" type="datetime-local" name="startDate" class="form-control">
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label>Конец</label>
                    <input id="dateEnd" type="datetime-local" name="endDate" class="form-control">
                </div>

                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <label for="dateLimit">Без ограничения по дате</label>
                    <input id="dateLimit" type="checkbox" onchange="switchDisable('dateStart', 'dateEnd')" name="dateLimit">
                </div>

                <div class="form-group col-sm-12 col-md-3 col-lg-3">
                    <label for="outputLimit">Ограничение по записям</label>
                    <select class="form-control" id="outputLimit" name="outputLimit">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>40</option>
                        <option>80</option>
                        <option>160</option>
                        <option>320</option>
                        <option>640</option>
                    </select>
                </div>


                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <button class="btn btn-success form-control" type="submit">Поиск</button>
                </div>

            </div>
        </form>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNoteModal">
            Добавить заметку
        </button>

        <br>

        <div id="tableOutput">

        </div>

    </div>
</div>


</body>

<!--Disable date limit by default-->
<script>
$("#dateLimit").prop('checked', true);
switchDisable('dateStart', 'dateEnd');
</script>

</html>