<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<table class="table">
    <tr>
        <th></th>
        <th>Заголовок</th>
        <th>Контент</th>
        <th>Время</th>
    </tr>
    <tr th:each="el : ${notes}">
        <td th:onclick="|requestDelete('${el.id}')|"><i style="color: red;" class="fa fa-trash-o" aria-hidden="true"></i></td>
        <td th:text="${el.title}"></td>
        <td th:text="${el.content}"></td>
        <td th:text="${el.time}"></td>
    </tr>
</table>
</body>
</html>