<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>

    <div class="card" th:each="el : ${notes}">
        <div class="card-header" th:text="${el.title}"></div>
        <div class="card-body">
            <p>Время добавления: <span th:text="${el.time}"></span></p>
            <details>
                <summary>Текст заметки</summary>
                <p style="white-space: pre-line;" th:text="${el.content}"></p>
            </details>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" th:onclick="|requestDelete(${el.id}, confirm('Действительно хотите удалить заметку?'))|">Удалить</button>
        </div>
    </div>
<br>
</body>
</html>